.level1 .ant-collapse-header {
  background-color: #ff7a45;
}

.level2 .ant-collapse-header {
  background-color: #faad14;
}

.level3 .ant-collapse-header {
  background-color: #ffbb96;
}

.level4 .ant-collapse-header {
  background-color: #237804;
}

ul.slick-dots li {
  background-color: black;
}

ul.slick-dots li.slick-active {
  background: blue !important;
}

:where(.css-dev-only-do-not-override-tjsggz).ant-carousel
  .slick-dots
  li::after {
  background: blue !important;
}
